
/source/MongoUtils/_ReSharper.MongoUtils
/source/MongoUtils/MongoUtils.sln.DotSettings.user
/source/MongoUtils/MongoUtils.suo
/source/MongoUtils/MongoUtils/bin
/source/MongoUtils/MongoUtils/obj
/source/MongoUtils/MongoUtils/MongoUtils.csproj.DotSettings.user
/source/MongoUtils/packages
/source/MongoUtils/MongoUtils.Tests/bin
/source/MongoUtils/MongoUtils.Tests/obj
/source/MongoUtils/MongoUtils.Tests/MongoUtils.Tests.csproj.DotSettings.user